<h1>Alta de partes</h1>
<p>Pulse sobre <span id="acciones"><%= link_to 'Nuevo parte', 'parteop/new' %></span> para iniciar un parte de trabajo.</p>
<p>Recuerde comprobar todos los datos antes de aceptar el formulario.</p>
<p>Si necesita recuperar su contraseña, consulte al administrador.</p>

<br />
<div id="acciones">
	<%= link_to 'Nuevo parte', 'parteop/new' %>
</div>